@use '../variables.scss' as *;

.filterContainer {
  background-color: $white;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  // margin: 2rem 10rem;
  margin: 2rem 10vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $text-black;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-size: 0.95rem;
  font-weight: 500;
  color: $text-black;
}

.dateInput {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 140px;
  color: $text-black;
}

.tilde {
  margin: 0 0.5rem;
  color: $text-black;
}

.select {
  min-width: 160px;
  font-size: 0.9rem;
  color: $text-black;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  color: $text-black;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &:hover {
    color: $primary-color;
  }
}

.searchButton {
  background-color: $primary-color;
  color: $white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

.detailBox {
  background-color: #f8f9fb;
  border-radius: 8px;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailInner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  height: 320px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.tableWrapper {
  flex: 6;
  height: 100%; 
}

.buttonAndSelectedWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  min-width: 250px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.selectedData {
  flex: 4;
  height: 100%; // 부모 높이 상속
  // overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  // background-color: #eaf3fc;
  border-radius: 8px;
}

.selectedItem {
  white-space: nowrap;

  // 여기서 span이 배지니까 내부에 flex 설정
  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  svg {
    margin-left: 4px;
    cursor: pointer;
    color: #999;
    width: 14px;
    height: 14px;

    &:hover {
      color: #333;
    }
  }
}



.ongoingBadge {
  background-color: #c8f7c5;
  color: #2e7d32;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.finishedBadge {
  background-color: #ffd6d6;
  color: #c62828;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}
