@use '../variables.scss' as *;

.wrapper {
  padding: 2rem 1rem;
}

.cardWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.25rem;

  justify-items: center;
}

.emptyStateContainer {
  width: 100%;
  grid-column: 1 / -1; // 모든 열을 차지하도록 설정
  min-height: 150px; // 적절한 높이 설정
}
