@use '../variables.scss' as *;

.section {
  padding: 1rem;
  background-color: $background-light;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: stretch;
}

.left,
.right {
  background-color: $white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  justify-content: center;
  gap: 1rem;
}

.right {
  justify-content: center;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 2rem;
}

.resultTitle {
  font-size: $text-xl;
}

.resultAmount {
  font-size: $text-3xl;
  color: $primary-color;
}

.resultDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.inputGroup {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }
}

.inputLabel {
  margin-bottom: 1rem;
}

.selectedValue {
  font-size: $text-3xl;
  font-weight: bold;
  color: $primary-color;
  margin: 1rem 0;
  order: 2;
}

.sliderWrapper {
  order: 3;
}

.rangeLabels {
  display: flex;
  justify-content: space-between;
  color: $text-gray;
  font-size: $text-sm;
  margin-top: 0.5rem;
}

.chartContainer {
  margin-top: 2rem;
  width: 100%;
  height: 200px;

  .chartTitle {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.buttonWrapper {
  margin-top: 2rem;
  text-align: center;
}

.investButton {
  background-color: $primary-color;
  color: $white;
  border: none;
  border-radius: 8px;
  padding: 1rem 4rem;
  font-size: $text-lg;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hover-primary;
  }
}
