@use '../variables.scss' as *;

.basicInfoCard {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: flex-start;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  width: 100%;
  max-width: 295px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $card-radius;
  transition: all 0.3s ease-in-out;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: $icon-bg;
  border-radius: 50%;
  margin-right: $text-2xl;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value {
  font-size: $text-md;
  font-weight: bold;
  color: $text-light-blue;
  text-align: left;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label {
  font-size: $text-xs;
  color: $text-gray;
  text-align: left;
  margin: 0;
  margin-top: 0.625rem;
}
