@use '../variables.scss' as *;

.statCard {
  display: flex;
  flex-direction: column;
  align-items: center; // 가로 중앙 정렬
  justify-content: center; // 세로 중앙 정렬
  // gap: 0.3rem;
  text-align: center; // 텍스트 중앙 정렬
  padding: 1.25rem 0;
  width: 295px; //카드 가로길이 유지하기기
  max-width: 100%;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $hover-primary;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);

    .value,
    .label {
      transition: color 0.3s ease-in-out;
    }

    &:hover .value,
    &:hover .label {
      color: $white;
    }
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: $icon-bg;
  border-radius: 50%;
}

.value {
  // margin-top: 0.625rem;
  margin: 0.625rem 0px 0.625rem 0px;
  font-size: $text-3xl;
  font-weight: bold;
  color: $text-blue;
  text-align: center;
}

.label {
  // margin-top: 0.625rem;
  margin: 0;
  font-size: $text-md;
  color: $text-gray;
  text-align: center;
}
