@use '../variables.scss' as *;

.text {
  display: inline-block;

  // 색상
  &--color-primary-color { 
    color: $primary-color;
  }

  &--color-white {
    color: $text-white;
  }

  &--color-gray {
    color: $text-gray;
  }

  &--color-light-blue {
    color: $text-light-blue;
  }

  &--color-blue {
    color: $text-blue;
  }

  &--color-black {
    color: $text-black;
  }

  &--color-text-ascendRed {
    color: $ascend-red;
  }

  &--color-text-descentBlue {
    color: $descent-blue;
  }

  // 크기
  &--size-xs {
    font-size: $text-xs;
  }

  &--size-sm {
    font-size: $text-sm;
  }

  &--size-md {
    font-size: $text-md;
  }

  &--size-lg {
    font-size: $text-lg;
  }

  &--size-xl {
    font-size: $text-xl;
  }

  &--size-2xl {
    font-size: $text-2xl;
  }

  &--size-text-3xl {
    font-size: $text-3xl;
  }

  &--size-text-4xl {
    font-size: $text-4xl;
  }

  // 굵기
  &--weight-thin {
    font-weight: 100;
  }

  &--weight-extralight {
    font-weight: 200;
  }

  &--weight-light {
    font-weight: 300;
  }

  &--weight-regular {
    font-weight: 400;
  }

  &--weight-medium {
    font-weight: 500;
  }

  &--weight-semibold {
    font-weight: 600;
  }

  &--weight-bold {
    font-weight: 700;
  }

  &--weight-extrabold {
    font-weight: 800;
  }

  &--weight-black {
    font-weight: 900;
  }
}
