include:
  # ν…ν”λ¦Ώ
  - local: .gitlab-ci/.gitlab-ci.backend-templates.yml
  # λ°±μ—”λ“
  - local: .gitlab-ci/.gitlab-ci.backend-member.yml
  - local: .gitlab-ci/.gitlab-ci.backend-account.yml
  - local: .gitlab-ci/.gitlab-ci.backend-contract.yml
  - local: .gitlab-ci/.gitlab-ci.backend-credit.yml
  - local: .gitlab-ci/.gitlab-ci.backend-mydata.yml

  # DB μ„λΉ„μ¤
  - local: .gitlab-ci/.gitlab-ci.db-member.yml
  - local: .gitlab-ci/.gitlab-ci.db-account.yml
  - local: .gitlab-ci/.gitlab-ci.db-contract.yml
  - local: .gitlab-ci/.gitlab-ci.db-credit.yml
  - local: .gitlab-ci/.gitlab-ci.db-mydata.yml
  # μΈν”„λΌ μ„λΉ„μ¤
  - local: .gitlab-ci/.gitlab-ci.frontend-nginx.yml
  - local: .gitlab-ci/.gitlab-ci.kafka.yml
  - local: .gitlab-ci/.gitlab-ci.zookeeper.yml
  - local: .gitlab-ci/.gitlab-ci.redis.yml
  - local: .gitlab-ci/.gitlab-ci.springcloud-gateway.yml
stages:
  - build
  - test
  - push
  - deploy

variables:
  NAMESPACE_PATH: infra/k8s/namespace.yml
  REGISTRY_PATH: mosaic
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  KUBE_NAMESPACE: mosaic
  DOCKER_HOST: unix:///var/run/docker.sock
  DOCKER_TLS_CERTDIR: "" # μ΄ κ°’λ„ DinD μ„¤μ •μ΄λ―€λ΅ λ¬΄λ ¥ν™”

# test_pipeline_trigger:
#   tags:
#     - $GITLAB_USER_EMAIL
#   stage: build
#   script:
#     - env | grep DOCKER
#     - ls
#     - echo "π” λ³€κ²½λ νμΌ λ©λ΅:"
#     - git diff --name-only $CI_COMMIT_BEFORE_SHA $CI_COMMIT_SHA
#     - docker info
#     - docker images
#     - echo "CI μ •μƒ μ‘λ™ μ—¬λ¶€ ν™•μΈ"
