@use '../variables.scss' as *;

.barChartContainer {
  width: 100%;
  max-width: none;
  margin: auto;
}

.chartTitle {
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-left: 50px;
  margin-bottom: 0;
}

.chartWrapper {
  width: 100%;
  height: 350px;
}

@media (max-width: 768px) {
  .chartWrapper {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .chartWrapper {
    height: 250px;
  }
}
