@use '../variables.scss' as *;

.barLineChartWrapper {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.barLineChartContainer {
  width: 100%;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barLineChart {
  width: 100%;
  height: 350px;
}

@media (max-width: 768px) {
  .barLineChart {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .barLineChart {
    height: 250px;
  }
}