@use '../variables.scss' as *;

.progressContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  // margin: 3rem auto;
  // padding-bottom: 2rem;
  position: relative;
}

.stepWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80px;
}

.circle {
  width: 44px;
  height: 44px;
  background-color: $text-gray;
  border-radius: 50%;
  color: $text-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.4s;
}

.circle.active {
  background-color: $primary-color;
  color: white;
  animation: pop 0.3s ease-in-out;
}

.label {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  color: $text-gray;
  text-align: center;
  white-space: nowrap;
}

.line {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 60px;
  height: 4px;
  background-color: $text-gray;
  z-index: 0;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
