# build artifacts
# build artifacts
node_modules
.next
dist
out
.cache

# system files
out
.cache

# system files
.vscode
*.log
*.tsbuildinfo
.cache
.storybook
# pnpm-lock.yaml
Dockerfile
docker-compose.yml

# git
.git